mixin song(song)
    div.playlist-container(data-id=song._id)
        div.playlist-albumart(style=`background-image:url(${song.albumArtUrl});background-size:cover;background-position:center;`)
        h4.playlist__songTitle
            a(href=`/songs/${song.id}`)#songTitle=song.title
        p.splaylist__ongArtist=song.artist
    hr