// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components

@import "./components/header.scss";
@import "./components/forms.scss";
@import "./components/footer.scss";
@import "./components/songHome.scss";
@import "./components/songWatch.scss";

// Screens

@import "./screens/songLikes.scss";


// Example: @import "./screens/search.scss";

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  max-width: 1490px;
  width: 100%;
  height:100%;
  margin: 50px;
  
}