.song-watch__albumArt {
    height: 500px;
    border-radius: 7px;
    width: 500px;
    background-color: ivory;
    margin-bottom:30px;
}

.now-playing {
    margin-left: 130px;
}

#now-container {
    margin:0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.playlist::-webkit-scrollbar {
    display: none;
}

.playlist {
    overflow: auto;
    overflow-y: scroll;
}

#playlist-box { 
    height:70vh;
    width:70vh;
}

#playlist-menu {
    height:70px;
    color:white;
}

#playlist-menu__now {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

#playlist-menu__now > span {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/*#playlist-menu__likes {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
} */

.playlist {
    width:60vh;
    height:50vh;
    padding:30px;
    overflow: auto;
    overflow-y: scroll;
}

.playlist-outbox {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.playlist-container {
    display: grid;
    gap:50px;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
}

.playlist-albumart {
    height: 50px;
    border-radius: 7px;
    width: 50px;
    background-color: ivory;
}


.playlist__songArtist{
    padding-left: 20px;
}

/*.playlist-likes {
    position: relative;
    right:-50px;
    bottom: -16px;
    color:rgba(255, 255, 255, 0.528);
    cursor: pointer;
}*/