.song-outbox{
    margin:50px 200px 50px 200px;
}

.song-mixin__albumArt {
    height: 200px;
    border-radius: 7px;
    width: 200px;
    background-color: ivory;
    margin-bottom:30px;
}

.lp-box {
    position:relative;
}

.lpRotate {
    height: 200px;
    border-radius: 7px;
    width: 200px;
    position:absolute;
    top:-230px;
    opacity: 60%;
    animation: lp-rotate 3s linear infinite;
    display: none;
}

@keyframes lp-rotate {
    0% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(540deg);
        
    }
    
}

.songTitle {
    margin-bottom: 7px;
}

.songArtist {
    margin-bottom: 7px;
}

.songAlbum {
    margin-bottom: 7px;
}

//grid

.song-outbox {
    display: grid;
    grid-template-columns: repeat(8, 150px);
    row-gap: 70px;
}

.text-box {
    display: flex;
    justify-content: space-between;
}

.likes-box {
    position: relative;
    right:-40px;
    cursor:pointer;
    color:white;
}