.song-watch__albumArt {
    height: 500px;
    border-radius: 7px;
    width: 500px;
    background-color: ivory;
    margin-bottom:30px;
}

.now-playing {
    margin-left: 160px;
}

#now-container {
    margin:0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.playlist::-webkit-scrollbar {
    display: none;
}

.playlist {
    overflow: auto;
    overflow-y: scroll;
}

#playlist-box { 
    height:70vh;
    width:70vh;
}

#playlist-menu {
    height:70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color:white;
}

#playlist-menu__now {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

#playlist-menu__likes {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.playlist {
    padding:30px;
}

.playlist-outbox {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.playlist-container {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1fr;
    align-items: center;
}

.playlist-albumart {
    height: 50px;
    border-radius: 7px;
    width: 50px;
    background-color: ivory;
}

.playlist-likes {
    position: relative;
    right:-50px;
    bottom: -16px;
    color:rgba(255, 255, 255, 0.528);
    cursor: pointer;
}