extends base
include mixins/song

block content

    div
        each song in songs
            +song(song)
        else
            span.empty__message No songs found

block scripts
    script(src="/static/js/songPlayer.js")