extends base.pug

block content 
    if errorMessage
        span=errorMessage
        
    form(method="POST", enctype="multipart/form-data")
        label(for="song") Music File
        input(name="song", placeholder="Music File", required, type="file", accept="audio/*", id="song")
        label(for="albumArt") Album Image
        input(name="albumArt", placeholder="Album Art Image", required, type="file", accept="image/*", id="albumArt")
        input(name="title", placeholder="Title", required, type="text", mexlength=80)
        input(name="artist", placeholder="Artist", required, type="text", mexlength=80)
        input(name="album", placeholder="Album", required, type="text", mexlength=80)
        input(name="genre", placeholder="Genre, separated by comma.", required, type="text")
        input#submit(type="submit", value="Upload Music")