extends base.pug
include mixins/playlist

block content
    div#now-container
        div.now-playing
            div.song-watch__albumArt(style=`background-image:url(${"/"+song.albumArtUrl});background-size:cover;background-position:center;`)
            audio(src="/" + song.fileUrl)
            div
                div 
                    div.watch-time
                        span.currentTime 00:00
                        input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                        span.totalTime 00:00

                    div.play-volume-info                
                        div.play_volume
                            span.watch-play
                                i.fas.fa-play.fa-sm
                            div.watch__volume
                                span#mute
                                    i.fas.fa-volume-up
                                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                        div.song-info
                            span#nowplaying__title=song.title
                            span -
                            span=song.artist


        div#playlist-box
            div#playlist-menu
                div#playlist-menu__now 
                    span playlist
                //-div#playlist-menu__likes 
                    span 랜덤 재생
            div.playlist#now-playlist
                each song in songs
                    +song(song)
                else
                    span.empty__message No songs found

block scripts
    script(src="/static/js/songWatch.js")