header
    a(href="/").header__logo
        i.fas.fa-palette
        span Palette Live Studio
    nav
        ul
            if loggedIn
                //-li
                    a#likes-link(href="/users/likes")
                        i.fas.fa-heart.fa-lg
                li
                    a(href="/songs/upload")  Upload Music
            if (!loggedIn)
                li
                    a(href="/login")  Login
                //-li
                    a(href="/join").header__btn  Join
            li
                a(href="/search")
                    i.fas.fa-search
                
